<html>
<h1>Your potential matches, like to see what the future holds</h1>


</form>
<h1>Like this user?</h1>



    <label>
        <!--dislike er id'et vi ændrer-->
        Name: <%= mypotentialmatches[shownextprofile].name%>
    </label>
    <label>
        Age: <%= mypotentialmatches[shownextprofile].age%>
       
    <label>
        Gender: <%= mypotentialmatches[shownextprofile].gender%>
    </label>
    <label>
        Interests: <%= mypotentialmatches[shownextprofile].interests%>
    </label>
    <label>
        City: <%= mypotentialmatches[shownextprofile].city%>

    </label>
    <img src= <%= mypotentialmatches[shownextprofile].profileimage%>  style="width:15%;">
   

    <!--Når man trykker på like skal det kunne gå videre til næste "potential match"-->


<form method="post" action="/dislike">
    <button type="submit">Dislike</button>

    <label>
        id:
        <input type="text" value= <%= mypotentialmatches[shownextprofile].id%> name="id" placeholder="id">
    </label>

    <label>
        Logged in User E-mail:
        <input type="email" value=<%= myusers[loggedinuserindex].email%> name="loggedinuseremail" placeholder="loggedinuseremail">
        </label>

</form>

<form method="post" action="/didlike">
    <button type="submit">Like</button>

    <label>
        id:
        <input type="text" value= <%= mypotentialmatches[shownextprofile].id%> name="id" placeholder="id">
    </label>
    

    <label>
        Logged in User E-mail:
        <input type="email" value=<%= myusers[loggedinuserindex].email%> name="loggedinuseremail" placeholder="loggedinuseremail">
        </label>

        
        <label>
            Logged in User id:
            <input type="text" value=<%= myusers[loggedinuserindex].id%> name="loggedinuserid" placeholder="loggedinuserid">
            </label>
    
</form>
<h2><label style = "color: red;"><%=youhaveamatch%></label></h2>
<label>


    <a href="/views/showprofile.ejs">Tilbage</a>
    <form method="post" action="/user">

</label>
</html>

